{{- template "base" .}}
{{- define "main"}}
    <section>
        <div class="container center">
            <h1 class="break-words">Welcome
                to your
                application</h1>
            <p><a href="/authenticate">Sign-in with Google</a></p>
        </div>
    </section>
{{- end}}
